.DS_Store
.vscode/
.idea/
*.log

/go-grpc-writer/bin/
/go-grpc-writer/go-grpc-writer
/go-consumer/go-consumer
/go-consumer/bin/
vendor/

/rust-api/target/
/rust-api/Cargo.lock
**/*.rs.bk

*.kubeconfig
kubeconfig.yaml
id_rsa
id_rsa.pub
*.tar
*.tar.gz

.terraform/
*.tfstate
*.tfstate.backup