# --- General ---
.DS_Store
.vscode/
.idea/
*.log

# --- Go (Writer & Consumer) ---
/go-grpc-writer/bin/
/go-grpc-writer/go-grpc-writer
/go-consumer/go-consumer
/go-consumer/bin/
vendor/

# --- Rust (API) ---
/rust-api/target/
/rust-api/Cargo.lock
**/*.rs.bk

# --- Kubernetes & Docker ---
*.kubeconfig
kubeconfig.yaml
id_rsa
id_rsa.pub
*.tar
*.tar.gz

# --- Terraform / Infra (Si usaras) ---
.terraform/
*.tfstate
*.tfstate.backup